{% extends 'base.html' %}
{% comment %} copia la configuracion del base.html {% endcomment %}

{% block content %}
    
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-center display-3 py-5">Records</h1>

            <ul class="list-group">
                {% for record in tasks %}
                <a class="list-group.item" href="{% url 'record_detail' record.id %}">
                    
                    <header class="d-flex justify-content-between">
                        <h1 class="fw-bold">{{record.date}}</h1>
                        
                        <p>{{record.user.username}}</p>
                    </header>
                <li>{{record.weight}}</li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>

</main>
{% endblock %}